body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: #9abca4;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

/* 追加 */
.todos li {
    background: #7475a3;
}

/* 追加 */
.delete {
    cursor: pointer;
    color: orange;
}

/* 見かけ上削除。実際には消してない */
.filtered {
    display : none !important;
}


/* 文字が浮かんでは消える動き */
@import "https://fonts.googleapis.com/css?family=Rubik+Mono+One";
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #99A1D9;
  overflow: hidden;
  font-family: 'Rubik Mono One', sans-serif;
}

.words {
  color: #99A1E0;
  font-size: 0;
  line-height: 1;
}
.words span {
  font-size: 120px;
  display: inline-block;
  animation: move 2s ease-in-out infinite;
}
.words span:nth-child(2) {
  animation-delay: 0s;
}
.words span:nth-child(3) {
  animation-delay: 0.8s;
}
.words span:nth-child(4) {
  animation-delay: 1.3s;
}

@keyframes move {
  0% {
    transform: translate(-25%, 0);
  }
  50% {
    text-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  }
  100% {
    transform: translate(33%, 0);
  }
}

/* マウスを黒い点にする */
